body {
    background-color: rgba(0, 47, 255, 0.527);
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}